<div class="clearfix">
  <div id="not_found" class="c" style="padding:100px 0;">
    <h2>Page not found</h2>
    <span class="subtext">Sorry, we couldn't find this page.</span>
  </div> <!-- /#not_found -->
</div>

{% include 'recently-viewed' %}